body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fffcf8;
    color: #811515;
}

#int {
    text-align: center;
    font-size: 30px;
    font-family: "Dela Gothic One", sans-serif; /* From Google Font */
}

h2 {
    font-size: 25px;
}

#head {
    font-size: 25px;
}

#about {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: black;
}

.nav {
    display: flex;
    justify-content: center;
    background-color:#811515; 
    color:  #fffcf8;
    padding: 15px;
    font-family: "Cutive", serif; /* From Google Font */
    font-size: 20px;
}

main li {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.rev {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.nav li {
    margin: 0 15px; /* adds a bit of space in wording*/
}

.nav a {
    color: #ffffff;
    text-decoration: none; /* gets rid of underline */
    font-weight: bold; 
    transition: color 0.3s; /* adds a bit of effect on nav link */
}

.nav a:hover {
    color: #480202f9;
}

.section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.btn {
    background-color: #ffffff;
    color: #811515 !important; /* important signifies something that the code should follow */
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e7e7e7;
}

footer {
    text-align: center;
    font-family: "Cutive", serif;
}
