header {
    font-size: 38px;
    background-color: #17072b;
    color: white;
    padding: 30px; /* adds padding to the bottom */
    text-align: center;
    padding-top: 10px;
}

#digi {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 10px solid;
    padding-bottom: 2px;
    display: inline-block; /* to make items align horizontally */
}

body {
    margin: 0;
    background-color: #ffffff;
}

aside {
    width: 30%;
    padding-left: 55px;
    float: right; /* to place it on the right side of the screen */
    background-color: #172d67;
    color: #ffffff;
    margin: 0;
    padding-bottom: 25px;
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    font-family: Arial;
    color: #000000;
    padding-left: 45px; /* adds space between content and border on the left*/
}

.link {
    list-style: none;
    display: flex;
    justify-content: center; /* puts the nav in the center*/
    gap: 50px; /* adds gap between each word */
    padding: 0;
    margin: 0;
    font-size: 49px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none; /* removes underline */
    color: #ffffff;
}

#wel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    text-decoration: underline;
}

#inf {
    font-family: Arial;
    font-size: 37.5px;
}

#line {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    text-decoration: underline;
}

footer {
    background-color: #8a10ec;
    padding: 10px; /* makes footer smaller */
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

footer p {
    margin: 0; /* retains footer size while font size changes */
}